@model IEnumerable<Menuetti.Models.Ingredientti>

@{
    ViewData["Title"] = "LoadJson";
    int rowNumber = Convert.ToInt32(ViewData["rowNumber"]);
}

<input type="text" class="form-control" id="incredient-@rowNumber-name" onkeyup="SearchIngredient()" onclick="showIngredientOptions()" placeholder="Etsi raaka-ainetta" />
<ul id="ingredient-options" style="display:none">
    @foreach (var item in Model)
    {
        <li><a onclick="save(id)" id="@item.name.fi">@item.name.fi</a></li>
    }
</ul>

@*<script>
    function SearchIngredient() {

        var input, filter, ul, li, a, i, txtValue;

        input = document.getElementById("incredient-100-name");
        filter = input.value.toUpperCase();
        ul = document.getElementById("ingredient-options");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function showIngredientOptions() {
        $("#ingredient-options").toggle();
    }

    function save(id) {
        console.log(id);
        console.log(document.getElementById("incredient-100-name").value);

        document.getElementById("incredient-100-name").value = id;
        $("#ingredient-options").hide();
    }
</script>*@